<%- include('../partials/header') %>

<h2>Flight Departure Information</h2>
<table>
    <thead>
      <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight No.</th>
            <th>Departure Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs.toLocaleString() %></td>
        </tr>
    </tbody>
</table>
<br>
<br>

<h2>Flight Destination Information</h2>
<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(f) { %>
          <tr>
            <td><%= f.airport %></td>
            <td><%= f.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destination Information Yet</h5>
  <% } %>

  <br>
  <br>
  <h3>Add Destination Information</h3>
  <form id="add-destination-form" method="POST"
    action="/flights/<%= flight._id %>/destinations">
      <label>Arrival Airport:</label>
      <select name="airport">
          <option disabled selected value> -- Select Arrivals Airport -- </option>
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN">DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
      </select>
      <br>
      <label>Arrival Date & Time:</label>
          <input type="datetime-local" name="arrival" >
      <br>
      <br>
          <button type="submit">Add Information</button>
  </form>
  <br>
  <br>
  <h3>Tickets</h3>
  <% if (tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(function(t) { %>
          <tr>
            <td><%= t.seat %></td>
            <td>$<%= t.price %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Tickets Sold</h5>
  <% } %>
  <br>
  <br>
  <h3>Assign New Ticket</h3>
    <form id="open-new-ticket" method="GET" 
      action="/flights/<%= flight._id %>/tickets/new" >
      <input type="submit" value="Assign Ticket"/>
    </form>

<%- include('../partials/footer') %>